.item {
    width: 320px;
    height: 497px;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.item img {
    margin-top: 46px;
    margin-left: -32px;
}

.text {
    margin-top: 15px;
}

.contentItem {
    width: 328px;
    height: 540px;
    overflow: hidden;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 15px;
}

.triangle {
    width: 153px;
    height: 4px;
    background-color: #1698d9;
    position: absolute;
    transform: rotate(134deg);
    left: -41px;
    top: 0px;
}

.ball {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 5;
    background-color: #1698d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ball p {
    font-family: "Alata", sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: white;
    padding: 0;
    line-height: 35px;
    text-align: center;
}

.undergroundText {
    color: white;
    text-align: center;
    font-size: 13px;
    padding-top: 15px;
}

.undergroundText span {
    color: #1591d0;
    border-bottom: 2px dotted;
    cursor: pointer;
}

.text h3 {
    font-family: "Exo 2", sans-serif;
    font-size: 48px;
    font-weight: 600;
}

.text h4 {
    font-family: "Exo 2", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 22px;
}

.textBall p:last-child {
    font-size: 25px;
}

.inBasket {
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 15px;
}

.inBasket .ball,
.inBasket .triangle {
    background-color: #d91667;
}

.inBasket .withoutFog {
    overflow: hidden;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
    border: solid #d91667 4px;
    border-radius: 9px;
}

.disabledElement .ball,
.disabledElement .triangle {
    background-color: black;
}

.disabledElement .item {
    border: solid black 4px;
    border-radius: 10px;
}

.disabledElement .undergroundText {
    color: #ffff66;
}

.withFog {
    background-color: #fff;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
    border-radius: 9px;
}

.withFog .item {
    opacity: 0.4;
}

.withoutFog {
    background-color: white;
    border: solid 4px #1698d9;
    border-radius: 10px;
    overflow: hidden;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
}

.unHoverDefualt .withoutFog .ball,
.unHoverDefualt .withoutFog .triangle {
    background-color: #2ea8e6;
}

.unHoverDefualt .withoutFog {
    border: solid 4px #2ea8e6;
}

.unHoverBasket .withoutFog .ball,
.unHoverBasket .withoutFog .triangle {
    background-color: #e62e7a;
}

@media (max-width: 1125px) {
    .triangle {
        left: -47px;
    }
    .item img {
        width: 295px;
        margin-top: 16px;
        margin-left: -19px;
    }
    .item {
        width: 269px;
        height: 408px;
    }
    .contentItem {
        width: 277px;
        height: 477px;
    }
    .ball {
        width: 80px;
        height: 80px;
    }
    .ball p {
        font-size: 35px;
        line-height: 27px;
    }
    .textBall p:last-child {
        font-size: 20px;
    }
    .undergroundText p {
        height: 35px;
    }
    .inBasket {
        width: 277px;
        height: 475px;
    }
}

@media (max-width: 675px) {
    .contentItem {
        height: 477px;
    }
    .inBasket {
        height: 477px;
    }
}

@media (max-width: 350px) {
    .item {
        width: 204px;
        height: 345px;
    }
    .item img {
        width: 215px;
    }
    .text {
        margin-left: 15px;
    }
    .text h3 {
        font-size: 35px;
    }
    .text h4 {
        font-size: 20px;
    }
    .ball {
        height: 70px;
        width: 70px;
    }
    .textBall p:first-child {
        font-size: 30px;
        line-height: 25px;
    }
    .withoutFog {
        clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
    }
    .triangle {
        left: -57px;
    }
    .undergroundText {
        width: 210px;
    }
    .inBasket,
    .contentItem {
        width: 212px;
        height: 400px;
    }
    .inBasket .withoutFog {
        width: 204px;
        clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
    }
    .withFog {
        clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
    }
    /* .contentItem .withFog {
        width: 208px;
    } */
}


/* @-moz-document url-prefix() {
    .item {
        height: 570px;
    }
    .contentItem {
        width: 328px;
        height: 540px;
        overflow: hidden;
    }
} */